header {
	background-color: #E3BAB0;
	text-align: center;
}

h1 {
	font-family: 'Source Code Pro', monospace;
}

h1 {
	color: white;
	font-size: 70px;
	font-family: 'Source Code Pro', monospace;
}

p {
	font-size: 18px;
	line-height: 1.6;

}

img {
	margin-top: 50px;
	border: 2px solid white;
	border-radius: 50px;
}

ul {
	padding: 20px;

}

li { 
display: inline;
margin: 50px;
font-family: 'Source Code Pro', monospace;
color: white;
font-size: 20px;

 }

 div {
 	width: 50%;
 	margin: 0 auto;
 	margin-top: 50px;
 }